In [13]:
#students grades by using pretty table

from prettytable import PrettyTable

class std:
    def __init__(self,name,marks):
        self.name=name
        self.marks=marks
    def na(self):
     return self.name
    def n(self):
        return self.marks
    def grade(self):
        if self.marks>=80:
            return 'A'
        elif self.marks>=60:
            return 'B'
        elif self.marks>=55:
            return 'C'

        elif self.marks>=35:
            return 'D'
        else:
            return 'falied'

n=int(input("enter the no of stud:"))
s=[]
table=PrettyTable(['name','marks','grade'])
for _ in range(n):
    name=input("enter the name")
    marks=int(input("enter the marks"))
    st=std(name,marks)
    s.append(st)
    cnt=1
for t in s:
   table.add_row([t.na(),t.n(),t.grade()])
print(table)

enter the no of stud: 1
enter the name mouni
enter the marks 34

+-------+-------+--------+
|  name | marks | grade  |
+-------+-------+--------+
| mouni |   34  | falied |
+-------+-------+--------+

In [15]:
#showing discount of a book in pretty table
from prettytable import PrettyTable
class book:
 def __init__(self,name,author,price):
  self.name=name
  self.author=author
  self.price=price
 def n(self):
  return self.name
 def a(self):
  return self.author
 def p(self):
  return self.price
 def billamount(self):
  if self.price > 10000:
    d= self.price*0.20
    return self.price - d
  elif self.price >5000:
    d=self.price*0.10
    return self.price - d
  elif self.price >1000 :
    d=self.price * 0.05
    return d
  else:
      discount = self.price * 0.03
      return self.price - discount
table=PrettyTable(['count','name','author','price','billamount'])
n=int(input("enter no book"))
g=[]
for _ in range(n):
   name=input("enter name of book")
   author=input("enter author name")
   price=float(input("enter the price:"))
   f=book(name,author,price)
   g.append(f)
cnt=1
for l in g:
    table.add_row([cnt,l.n(),l.a(),l.p(),l.billamount()])
    cnt += 1
print(table)

enter no book 2
enter name of book loop
enter author name alice
enter the price: 2300
enter name of book c langunage
enter author name dennis ritchie
enter the price: 3000

+-------+-------------+----------------+--------+------------+
| count |     name    |     author     | price  | billamount |
+-------+-------------+----------------+--------+------------+
|   1   |     loop    |     alice      | 2300.0 |   115.0    |
|   2   | c langunage | dennis ritchie | 3000.0 |   150.0    |
+-------+-------------+----------------+--------+------------+